// Variables

// Palette
$color-white: #ffffff;
$color-black: #000000;

$color-grey: #516163;
$color-grey-dark: #313131;

$color-green: #37a158;
$color-green-dark: #0f5e3f;
$color-green-light: #a5dc69;

$color-blue: #0095e2;
$color-blue-dark: #0075c2;

$color-gold: #f7b66a;
$color-pink: #eb9bbb;
$color-purple: #8891d3;
$color-plum: #a66978;

// Colors
$clr-primary: $color-black;
$clr-secondary: $color-blue;
$clr-accent: $color-green;
$clr-light: $color-white;
$clr-dark: $color-grey;

$clr-text: $color-black;
$clr-link: $color-blue;
