// Greenhouses
.greenhouses {
  padding: 4em 0;
  background-color: #f0f2ee;
  &__wrapper {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  &__gallery {
    display: grid;
    gap: 1em;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr );
    }
    @media (min-width: 990px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__gallery-item {
    height: 255px;
    @media (min-width: 768px) {
      height: 368px;
    }
    @media (min-width: 990px) {
      height: 575px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    max-width: 630px;
    margin: 5em auto 0;
    text-align: center;
  }
  &__title {
    margin: 0 0 0.5em;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: capitalize;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
    @media (min-width: 990px) {
      font-size: 4.5rem;
    }
  }
  &__link {
    color: $clr-text;
    font-size: 1.75rem;
    text-transform: capitalize;
    &::before {
      content: '\02192';
      position: relative;
      display: inline-block;
      margin-right: 0.75em;
      transition: 600ms;
    }
    &:hover::before{
      transform: translate(7px);
    }
    @media (min-width: 768px) {
      font-size: 2rem;
    }
    @media (min-width: 990px) {
      font-size: 2.75rem;
    }
  }
}