// Logo
.logo {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
  align-items: center;
  color: $clr-text;

  &__image {
    width: 44px;
    height: 44px;
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
